{{#if (or padding height)}}
  <span class="icon-padding" style={{stylist}}>
    <i
      id={{id}}
      class="ui-icon {{class}} {{fontFamily}}{{_fw}}{{_icon}}{{_mood}}{{_pulse}}{{_spin}}{{_pointer}}"
      role={{_role}}
      aria-labeledBy={{_labeledBy}}
      aria-describedBy={{describedBy}}
      onclick={{action 'onClick'}}
    ></i>
  </span>
{{else}}
  <i
    id={{id}}
    role={{_role}}
    aria-labeledBy={{_labeledBy}}
    aria-describedBy={{describedBy}}
    style={{stylist}}
    class="ui-icon {{class}} {{fontFamily}}{{_fw}}{{_icon}}{{_mood}}{{_pulse}}{{_spin}}{{_pointer}}"
    onclick={{action 'onClick'}}
  ></i>
{{/if}}
