<div class="container">
    <h1 id="title"><a href='https://github.com/lifegadget/ui-icon' target='_new'>ui-icon</a></h1>
    <h2>FontAwesome icons with Ember flare</h2>

    <h3>Overview</h3>
    <p>
      <small>
          There are two ways which you can use the ui-icon addon:
          <ul>
            <li><span class="pre code">ui-icon</span> Component</li>
            <li><span class="pre code">icon</span> Helper</li>
          </ul>
        </small>
        <small>
          The API for both is the same but the helper will render much more quickly but
          will not maintain bindings.
        </small>

    </p>

    <h3>Basics</h3>
    <div class="">
        <p class="descriptive">
            The basic syntax
        </p>
    </div>

    <div class="row">
        <div class="col-xs-2">
            {{ui-icon 'smile-o'}}<br>
            {{ui-icon 'meh-o'}}<br>
            {{icon 'frown-o'}}<br>
            {{icon 'smile-o'}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-icon 'smile-o'}}<br>
            \{{ui-icon 'meh-o'}}<br>
            \{{icon 'frown-o'}}<br>
            \{{icon 'smile-o'}}
        </div>
    </div>

    <h3>Sizing</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
            You can set using explicit units (rem,em,pt) or using a multiplier (2x,3x, etc.).
        </p>
    </div>

    <div class="row">
        <div class="col-xs-2">
            {{ui-icon 'smile-o'}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-icon 'smile-o'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{icon 'smile-o' size='36pt'}}
        </div>
        <div class="snippet col-xs-10">
            \{{icon 'smile-o' size='36pt'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{icon 'smile-o' size='3rem' }}
        </div>
        <div class="snippet col-xs-10">
            \{{icon 'smile-o' size='3rem'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ui-icon 'smile-o' size='5rem'}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-icon 'smile-o' size='5rem'}}
        </div>
    </div>

    <h3>Classy Annimation</h3>
    <div class="row">
        <p class="descriptive col-xs-12">
            You can gain easy access to font-families animation classes
        </p>
    </div>

    <div class="row">
        <div class="col-xs-2">
            {{ui-icon 'smile-o' spin=true class='now-that-is-classy'}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-icon 'smile-o' spin=true}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ui-icon 'spinner' pulse=true}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-icon 'spinner' pulse=true}}
        </div>
    </div>

    <h3>Mood</h3>
    <div class="row">
        <p class="descriptive col-xs-12">
            Setting the mood property allows you leverage your color palate set with Bootstrap
        </p>
    </div>

    <div class="row">
        <div class="col-xs-2">
            {{ui-icon 'smile-o' mood='success'}}<br>
            {{ui-icon 'smile-o' mood='warning'}}<br>
            {{ui-icon 'smile-o' mood='danger'}}
        </div>
        <div class="snippet col-xs-10">
          \{{ui-icon 'smile-o' mood='success'}}<br>
          \{{ui-icon 'smile-o' mood='warning'}}<br>
          \{{ui-icon 'smile-o' mood='danger'}}
        </div>
    </div>

    <h3>Styling</h3>
    <div class="row">
        <p class="descriptive col-xs-12 ">
            There are several "style" properties which are proxied through for you ... of course all of this can often better applied simply by using CSS.
        </p>
    </div>

    <div class="row">
        <div class="col-xs-2">
            {{ui-icon 'smile-o' color='red' background='lightgrey'}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-icon 'smile-o' color='red' background='lightgrey'}}
            <br>
            <div class="desc">
              foreground and background colors are proxied
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            {{ui-icon 'smile-o' border='2px solid lightgrey'}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-icon 'smile-o' border='2px solid lightgrey'}}
            <br>
            <div class="desc">
              you can proxy <i>border</i> CSS property
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        {{icon 'smile-o' }}  <br>
        {{icon 'smile-o' muted=true}} <br>
        {{ui-icon 'smile-o' opacity=0.2}}
      </div>
      <div class="snippet col-xs-10">
        <div class="coding">
          \{{icon 'smile-o'}} <br>
          \{{icon 'smile-o' <strong>muted=true</strong>}} <br>
          \{{ui-icon 'smile-o' <strong>opacity=0.2</strong>}}
        </div>
          <div class="desc">
            - <b>muting</b> drops opacity to (0.5) give a muted look <br>
            - you can also just set <b>opacity</b> directly and it will proxy through
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
          {{ui-icon 'smile-o'}}
          <br>
          {{icon 'smile-o' pointer=true}}
          <br>
          {{ui-icon 'smile-o' cursor='crosshair'}}
        </div>
        <div class="snippet col-xs-10">
          <div class="coding">
            \{{ui-icon 'smile-o'}} <br>
            \{{icon 'smile-o' <strong>pointer=true</strong>}} <br>
            \{{ui-icon 'smile-o' <strong>cursor='crosshair'</strong>}}
          </div>
          <p class="desc">
            - setting <em>cursor</em> is a straight style pass-through <br>
            - setting <em>pointer</em> to a true value results in the application of the 'pointer' class which has built in styling that changes when moving from normal to hover state.
          </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{icon 'smile-o' muted=true color='purple' pointer=true size='2rem'}}
            {{ui-icon 'smile-o' muted=true color='green' pointer=true size='2rem'}}
        </div>
        <div class="snippet col-xs-10 desc">
            \{{icon 'smile-o' muted=true color='purple' pointer=true size='2x'}} <br/>
            \{{ui-icon 'smile-o' muted=true color='green' pointer=true size='2x'}}
            <div class="desc">
              muted and cursor effect <em>opacity</em> not <em>color</em>, so setting colors explicitly does not interfere with "muted" or "cursor" effects at all
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-2">
          {{ui-icon 'check-square-o'
          padding='15px'
          borderRadius='50%'
          background='lightgrey'
          size='2x'
        }}
        </div>
        <div class="snippet col-xs-4">
<pre><code>\{{ui-icon 'check-square-o'
  padding='15px'
  borderRadius='50%'
  background='lightgrey'
  size='2x'
}}</code></pre>
      </div>
      <div class="col-xs-6">
            <span class="comment">
              <p class='desc'>
                Setting <em>padding</em> doesn't just add the CSS padding style (as that would have no effect on the icon itself) but instead puts the icon inside a span where the containing span has the padding supplied.
              </p>
            </span>
          </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
          {{ui-icon 'check-square-o'
            width='4rem'
            height='4rem'
            borderRadius='50%'
            background='lightgrey'
            size='2x'
          }}
        </div>
        <div class="snippet col-xs-4">
<pre><code>\{{ui-icon 'check-square-o'
  width='4rem'
  height='4rem'
  borderRadius='50%'
  background='lightgrey'
  size='2x'
}}</code></pre>
      </div>
      <div class="col-xs-6">
            <span class="comment">
              <p class='desc'>
                Whenever you explicitly set 'height' on the component it also wraps up the icon into a span in the same manner as the previous example.
              </p>
            </span>
          </div>
    </div>



    <h3>Tooltips</h3>
    <div class="row">
        <p class="descriptive col-xs-12">
            TOOLTIPS ARE CURRENTLY UNAVAILABLE, THEY WILL COME BACK SOON
        </p>
    </div>

    {{!-- <div class="row">
        <div class="col-xs-2">
            {{ui-icon 'comments' tooltipContent='hello world' size='3x'}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-icon 'comments' tooltipContent='hello world' size='3x'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ui-icon 'comments' tooltipContent='hello lefty' tooltipPlacement='left' size='3x'}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-icon 'comments' tooltipContent='hello lefty' tooltipPlacement='left' size='3x'}}
        </div>
    </div> --}}

    <h3>Actions</h3>
    <div class="row">
        <p class="col-xs-12 desc">
            Actions are now setup to use Ember's closure actions. When an
            icon recieves a click event it will call the <code>onClick</code>
            property off of <code>attrs</code>.

            If you prefer to use the older style of actions you may do this too,
            there are examples of both below.

            <br/>&nbsp;<br/>

            In either case the event that is passed is a single hash/object which contains
            the following properties: object (aka, "this"), event (click event), and style
            (either "classic" or "closure")
        </p>
    </div>

    <div class="row">
        <div class="col-xs-2">
            {{ui-icon 'info-circle' cursor=true muted=true size='3x' onClick='iconActionable'}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-icon 'info-circle' cursor=true muted=true size='3x' onClick='iconActionable'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ui-icon 'info-circle' value='foobar' cursor=true muted=true size='3x' onClick=(action 'iconActionable') }}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-icon 'info-circle' <strong>value='foobar'</strong> cursor=true muted=true size='3x' onClick=(action 'iconActionable') }}
        </div>
    </div>


    <h3>Aria Support</h3>
    <div class="row">
        <p class="col-xs-12 desc">
          Aria support is provided for the "role", "labeledBy", and "describedBy" properties.
        </p>
        <p class="col-xs-12 desc">
          By default role will be set to "img" for you unless you state that you want a pointer cursor in which case it defaults to "link". You can, however, set it to anything you like by changing the <b>role</b> property on this component.
        </p>
        <p class="col-xs-12 desc">
          The "labeledBy" defaults to the name of the icon -- specifically the first part of the dasherized name -- but you can override that to whatever you like. The "describedBy" property is not set by default but you can see in this example how we've set it (view source).
        </p>
    </div>

    <div class="row">
        <div class="col-xs-2">
            {{ui-icon 'eye' labeledBy='my label' describedBy='my description' size='3rem'}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-icon 'eye' labeledBy='my label' describedBy='my description'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
          {{ui-icon 'eye' pointer=true size='3rem'}}
        </div>
        <div class="snippet col-xs-10">
          \{{ui-icon 'eye' pointer=true}}
        </div>
    </div>

</div>
