<div class="container">
    <h1 id="title">ui-icon</h1>
    <h2>FontAwesome icons with Ember flare</h2>
    
    <h3>Basics</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
            The basic syntax
        </p>        
    </div>
    
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon icon='smile-o'}}
            {{ui-icon icon='meh-o'}}
            {{ui-icon icon='frown-o'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon icon='smile-o'}} 
            \{{ui-icon icon='meh-o'}} 
            \{{ui-icon icon='frown-o'}}
        </div>
    </div>

    <h3>Shortcuts</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
            A shortened syntax for common icons ... 
        </p>        
    </div>
    
    <div class="row">
        <div class="col-xs-2">
            {{icon-facebook}}
            {{icon-twitter}}
            {{icon-google-plus}}
        </div>
        <div class="snippet col-xs-10">
            \{{icon-facebook}} 
            \{{icon-twitter}} 
            \{{icon-google-plus}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{icon-android}}
            {{icon-apple}}
            {{icon-windows}}
        </div>
        <div class="snippet col-xs-10">
            \{{icon-android}}
            \{{icon-apple}}
            \{{icon-windows}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{icon-chevron-up}}
            {{icon-chevron-down}}
            {{icon-chevron-left}}
            {{icon-chevron-right}}
        </div>
        <div class="snippet col-xs-10">
            \{{icon-chevron-up}}
            \{{icon-chevron-down}}
            \{{icon-chevron-left}}
            \{{icon-chevron-right}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{icon-email}}
            {{icon-clock}}
            {{icon-calendar}}
        </div>
        <div class="snippet col-xs-10">
            \{{icon-email}}
            \{{icon-clock}}
            \{{icon-calendar}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{icon-phone}}
            {{icon-mobile}}
            {{icon-tablet}}
            {{icon-desktop}}
        </div>
        <div class="snippet col-xs-10">
            \{{icon-phone}}
            \{{icon-mobile}}
            \{{icon-tablet}}
            \{{icon-desktop}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{icon-comment}}
            {{icon-comments}}
        </div>
        <div class="snippet col-xs-10">
            \{{icon-comment}}
            \{{icon-comments}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{icon-bell}}
            {{icon-not-bell}}
            {{icon-volume}}
            {{icon-mute}}
        </div>
        <div class="snippet col-xs-10">
            \{{icon-bell}}
            \{{icon-not-bell}}
            \{{icon-volume}}
            \{{icon-mute}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{icon-user}}
            {{icon-male}}
            {{icon-female}}
            {{icon-child}}
        </div>
        <div class="snippet col-xs-10">
            \{{icon-user}}
            \{{icon-male}}
            \{{icon-female}}
            \{{icon-child}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{icon-bus}}
            {{icon-car}}
            {{icon-train}}
            {{icon-plane}}
        </div>
        <div class="snippet col-xs-10">
            \{{icon-bus}}
            \{{icon-car}}
            \{{icon-train}}
            \{{icon-plane}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{icon-star}}
            {{icon-half-star}}
            {{icon-empty-star}}
        </div>
        <div class="snippet col-xs-10">
            \{{icon-star}}
            \{{icon-half-star}}
            \{{icon-empty-star}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{icon-info}}
            {{icon-cog}}
            {{icon-spinner}}
            {{icon-refresh}}
            {{icon-bars}}
        </div>
        <div class="snippet col-xs-10">
            \{{icon-info}}
            \{{icon-cog}}
            \{{icon-spinner}}
            \{{icon-refresh}}
            \{{icon-bars}}            
        </div>
    </div>
    


    <h3>Sizing</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
            You can set using explicit units (rem,em,pt) or using a multiplier (2x,3x, etc.). 
        </p>        
    </div>
    
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon icon='smile-o'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon icon='smile-o'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon icon='smile-o' size='lg'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon icon='smile-o' size='lg'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon icon='smile-o' size='18pt'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon icon='smile-o' size='18pt'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon icon='smile-o' size='3x' }}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon icon='smile-o' size='3x'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon icon='smile-o' size='5x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon icon='smile-o' size='5x'}}
        </div>
    </div>

    <h3>Styling</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
            There are a number of helpful ways you can style icons ... colors, spins, etc.
        </p>        
    </div>
    
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon icon='smile-o' color='red' size='3x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon icon='smile-o' color='red' size='3x'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon icon='smile-o' color='red' background='lightgrey' size='3x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon icon='smile-o' color='red' background='lightgrey' size='3x'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon icon='smile-o' circular=true color='red' background='lightgrey' size='3x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon icon='smile-o' circular=true color='red' background='lightgrey' size='3x'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon icon='smile-o' circular=true spin=true background='lightgrey' size='3x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon icon='smile-o' circular=true spin=true background='lightgrey' size='3x'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon icon='spinner' pulse=true size='3x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon icon='spinner' pulse=true size='3x'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon icon='quote-left' border=true size='3x' fw=false}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon icon='quote-left' border=true size='3x' fw=false}}
        </div>
    </div>

    

    <h3>Tooltips</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
            You can set using explicit units (rem,em,pt) or using a multiplier (2x,3x, etc.). 
        </p>        
    </div>
    
    <div class="row">
        <div class="col-xs-1">
            {{icon-comments tooltip='hello world' size='3x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{icon-comments tooltip='hello world' size='3x'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{icon-comments tooltip='hello lefty' tooltipPlacement='left' size='3x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{icon-comments tooltip='hello lefty' tooltipPlacement='left' size='3x'}}
        </div>
    </div>

</div>
