<div class="container">
    <h1 id="title"><a href='https://github.com/lifegadget/ui-icon' target='_new'>ui-icon</a></h1>
    <h2>FontAwesome icons with Ember flare</h2>

    <h3>Basics</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
            The basic syntax
        </p>
    </div>

    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'smile-o'}}
            {{ui-icon 'meh-o'}}
            {{ui-icon 'frown-o'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'smile-o'}}
            \{{ui-icon 'meh-o'}}
            \{{ui-icon 'frown-o'}}
        </div>
    </div>

    <h3>Sizing</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
            You can set using explicit units (rem,em,pt) or using a multiplier (2x,3x, etc.).
        </p>
    </div>

    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'smile-o'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'smile-o'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'smile-o' size='lg'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'smile-o' size='lg'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'smile-o' size='18pt'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'smile-o' size='18pt'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'smile-o' size='3x' }}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'smile-o' size='3x'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'smile-o' size='5x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'smile-o' size='5x'}}
        </div>
    </div>

    <h3>Mood</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
            Setting the mood property allows you leverage your color palate set with Bootstrap
        </p>
    </div>

    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'smile-o' mood='success'}}
            {{ui-icon 'smile-o' mood='warning'}}
            {{ui-icon 'smile-o' mood='danger'}}
        </div>
        <div class="snippet col-xs-11">
          \{{ui-icon 'smile-o' mood='success'}}<br>
          \{{ui-icon 'smile-o' mood='warning'}}<br>
          \{{ui-icon 'smile-o' mood='danger'}}
        </div>
    </div>

    <h3>Styling</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
            There are a number of helpful ways you can style icons ... colors, spins, etc.
        </p>
    </div>

    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'smile-o' size='lg'}} {{ui-icon 'smile-o' muted=true size='lg'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'smile-o' <strong>muted=true</strong> size='lg'}} - muting drops opacity to give a muted look
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'smile-o' size='lg' cursor=true}} {{ui-icon 'smile-o' muted=true size='lg' cursor=true}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'smile-o' <strong>cursor=true</strong> size='lg'}} - setting the cursor effects <em>cursor</em> and <em>hover</em>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'smile-o' size='lg' muted=true color='purple' cursor=true}} {{ui-icon 'smile-o' muted=true color='green' size='lg' cursor=true}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'smile-o' size='lg' muted=true color='purple' cursor=true}} <br/>
            muted and cursor effect <em>opacity</em> not <em>color</em>, setting colors explicitly does not interfere with "muted" or "cursor" effects
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'smile-o' color='red' size='3x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'smile-o' color='red' size='3x'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'smile-o' color='red' background='lightgrey' size='3x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'smile-o' color='red' background='lightgrey' size='3x'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'smile-o' circular=true color='red' background='lightgrey' size='3x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'smile-o' circular=true color='red' background='lightgrey' size='3x'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'smile-o' circular=true spin=true background='lightgrey' size='3x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'smile-o' circular=true spin=true background='lightgrey' size='3x'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'check-square-o' circular=true background='lightgrey' size='3x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'check-square-o' circular=true background='lightgrey' size='3x'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'check-square-o' circular=true padded=20 background='lightgrey' size='3x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'check-square-o' circular=true padded=20 background='lightgrey' size='3x'}}
            <span class="comment">
              <p>
              <em>Padding</em> adds some room for square icons in a circular container. Setting to true adds 10px but you if you specify a numeric quantity that will be used instead.
              </p>
            </span>
          </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'spinner' pulse=true size='3x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'spinner' pulse=true size='3x'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'quote-left' border=true size='3x' fw=false}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'quote-left' border=true size='3x' fw=false}}
        </div>
    </div>



    <h3>Tooltips</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
            TOOLTIPS ARE CURRENTLY UNAVAILABLE, THEY WILL COME BACK SOON
        </p>
    </div>

    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'comments' tooltipContent='hello world' size='3x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'comments' tooltipContent='hello world' size='3x'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'comments' tooltipContent='hello lefty' tooltipPlacement='left' size='3x'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'comments' tooltipContent='hello lefty' tooltipPlacement='left' size='3x'}}
        </div>
    </div>

    <h3>Actions</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-10 col-lg-8">
            Actions are now setup to use Ember's closure actions. When an
            icon recieves a click event it will call the <code>onClick</code>
            property off of <code>attrs</code>.

            <br/>&nbsp;<br/>

            If you prefer to use the older style of actions you may do this too,
            there are examples of both below.

            <br/>&nbsp;<br/>

            In either case the event that is passed is a single hash/object which contains
            the following properties: object (aka, "this"), event (click event), and style
            (either "classic" or "closure")
        </p>
    </div>

    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'info-circle' cursor=true muted=true size='3x' onClick='iconActionable'}}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'info-circle' cursor=true muted=true size='3x' onClick='iconActionable'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ui-icon 'info-circle' value='foobar' cursor=true muted=true size='3x' onClick=(action 'iconActionable') }}
        </div>
        <div class="snippet col-xs-11">
            \{{ui-icon 'info-circle' <strong>value='foobar'</strong> cursor=true muted=true size='3x' onClick=(action 'iconActionable') }}
        </div>
    </div>

</div>
